*.avi
log*
*.t7
!./complete_demo/ih1_skip.t7
!./complete_demo/sr1.t7
*.h5

*.sovlerstate
*.caffemodel
*.pdf
*.jpg
*.zip
*.bmp
*.png
!matrix.png
!interp.png
*.rar
*.tar
*.tar.gz
*.fig
*.dll
*.wmv
*.xml
*.YML
*.ppt
*.pptx
*.doc
*.docx

# Compiled Object files
*.slo
*.lo
*.o
*.cuo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled protocol buffers
*.pb.h
*.pb.cc
*_pb2.py

# Compiled python
*.pyc

# Compiled MATLAB
*.mex*
!./complete_demo/mex/DCRF_inner.mexa64
*.mat
!codes/vis_face_alignment/std_series/cir/*.mat
!./complete_demo/ih_mean.mat
!./complete_demo/map.mat

# IPython notebook checkpoints
.ipynb_checkpoints

# Editor temporaries
*.swp
*~

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Eclipse Project settings
*.*project
.settings

# QtCreator files
*.user

# PyCharm files
.idea

# OSX dir files
.DS_Store

## Caffe

# User's build configuration
Makefile.config

# Data and models are either
# 1. reference, and not casually committed
# 2. custom, and live on their own unless they're deliberated contributed
data/*
models/*
*.caffemodel
*.solverstate
*.binaryproto
*leveldb
*lmdb
*h5

# build, distribute, and bins (+ python proto bindings)
build
build_old
.build_debug/*
.build_release/*
distribute/*
*.testbin
*.bin
python/caffe/proto/
cmake_build
.cmake_build

# Generated documentation
docs/_site
docs/gathered
_site
doxygen
docs/dev

# LevelDB files
*.sst
*.ldb
LOCK
LOG*
CURRENT
MANIFEST-*

